.container{
  max-width: 900px;
  margin: 0 2rem;
}

img{
  width: 100%;
}

p, h2 {
  color: #6E6E6E;
}


a{
  text-decoration: none;
}


h1, h2{
  font-family: 'Tiempos Headline', sans-serif;
}


p{
  font-family: 'Tiempos Headline', sans-serif;
  font-weight:300;
}


.row{
  display: flex;
}

.right-align{
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.right-align-2{
  margin-left: 10px;
}


.center{

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column-50{
  width: 50%;
}

.column-25{
  width: 25%;
}

.column-75{
  width: 75%;
}

.column-60{
  width: 60%;
}

.center-text{
  text-align: center;
}

.margin-0{
  margin: 0;
}

.margin-top-1{
  margin-top: 1rem;
}



.margin-left-1{
  margin-left: 1rem;
}

.margin-left-2{
    margin-left: 2rem;

}

.margin-left-3{
    margin-left: 3em;

}

.margin-left-4{
    margin-left: 4rem;

}

.margin-right-1{
    margin-left: 1rem;

}

.margin-right-2{
    margin-left: 2rem;
}


.margin-right-3{
    margin-left: 3rem;
}

.margin-right-1{
    margin-left: 1rem;
}

.padding-right-2{
  padding-right: 2rem;
}

.padding-left-1{
  padding-left: 1rem;
}

.padding-left-2{
  padding-left: 2rem;
}

.padding-left-3{
  padding-left: 3rem;
}

.padding-left-4{
  padding-left: 4rem;
}

.padding-right-5{
  padding-right: 5rem;
}

.padding-top-1{
  padding-top: 1rem;
}
.padding-top-4{
  padding-top: 4rem;
}



.margin-top-2{
  margin-top: 2rem;
}

.margin-top-3{
  margin-top: 3rem;
}

.margin-bottom-1{
  margin-bottom: 1rem;
}

.margin-bottom-2{
  margin-bottom: 2rem;
}


.padding-left-5{
  padding-left: 5rem;
}


.padding-bottom-1{
  padding-bottom: 1rem;
}

.padding-bottom-2{
  padding-bottom: 2rem;
}

.padding-0{
  padding: 0;
}






.margin-left-1{
  margin-left: 2rem;
}

.nav-a > a{
  margin: 0 0.5rem;

}

.bottom-line{
  border-bottom: 1px rgba(170, 175, 170, 0.377) solid;
  /* border-bottom: 1px green solid; */
  width: 100%;
}


.image{
    background-image: url("./images/hero.jpg");
    /* background-size: contain; */
    max-width: 100%;
    height: auto;
    max-height: 100%;
    height: inherit !important;
    background-color: rgba(0,0,0,0.5);

}

.blue-background{
  background-color: #294464;
}

.contact-us-padding{
  padding: 0.5rem 0.7rem;
}
.rounded{
  border-radius: 5px;
}

.light-grey-text{
  color: #B6B6B6;
}

.grey-text {
  color: #6E6E6E;
}

.white-text {
  color: white
}


.getting-started-padding{
  padding: 0.8rem 1.5rem;

}

.border-none{
  border: none;
}


.light-gray-background{
  background-color: #FAFAFA;
}


.locations-bottom-border{
  border-bottom: 1px solid #E7E9EC;
}

.address-background-color{
  background-color: #525351;
}
.no-dec{
  list-style: none;
}
header{
  padding: 0;
}

.logo-size{
  height: 1.5rem;
  width: auto;
}


.product-header{
  background-image: url("./images/product/product-header.jpg");

    width: 900px;
  height: 430px;
  background-size: cover;
  background-position: 2%;
  position: relative;
  margin-bottom: 4rem;
}

.product-overlay{
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.2);
}


.image-text{
  position: absolute;
}

.logo-div{
 display: flex;
 align-items: left ;
}
